body { background: #ceb125; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 18px; display: flex; }
.block-product-0 { color: #1b9166; font-size: 19px; margin-bottom: 5px; }
.block-product-1 { color: #5924dd; font-size: 20px; margin-bottom: 5px; }
.block-router-2 { color: #348f46; font-size: 18px; margin-bottom: 5px; }
.block-sms-3 { color: #c46ab4; font-size: 20px; margin-bottom: 5px; }
.block-order-4 { color: #deb4c3; font-size: 18px; margin-bottom: 5px; }